.header {
	height: 60px;
	color: black;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
	flex-direction: column;
	background-color: lightgray;
	flex: 1;
}
.safe {
	color: green;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
	background-color: lightgray;
}
.warning {
	color: red;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
	background-color: lightgray;
}
