.section {
	// height: 177px;
}
.container{
    display: flex;
    flex-direction: row;
}
.right{
    float: right;
}
.location{
    font-size: 36px
}
.temperature {
    font-size: 48px;
    font-weight: 600;
}
img {
    width: 75px;
}
.datetime {
    float: right;
}
.date, .time {
    font-size: 30px;
}